@import "../../../../theme/variable.css";
@import "../../../../theme/exports/title.css";

/* --- experience-main --- */
.experience-main {
  width: 100%;
  margin-top: 32px;
}

/* --- experience-main-child --- */
.experience-main-child {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0.75rem;
}

/* --- experience-cards --- */
.experience-cards {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0.75rem;
}
