@import "./variable.css";

/* --- BODY TAGS CONTROL --- */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background-color: var(--body-bg-color);
}

body.slider-show {
  overflow: hidden;
  padding-right: 8px;
}

body::-webkit-scrollbar-track {
  background: rgba(222, 222, 222, 0.148);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: #ababab78;
}

@media (max-width: 1280px) {
  body.slider-show {
    padding-right: 0;
  }
}

@media (max-width: 668px) {
  body.slider-show {
    padding-right: 0;
  }
}

/* --- GLOBAL TAGS CONTROL --- */
a {
  display: block;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin: 0px !important;
}

img {
  display: block;
  width: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* --- CONTAINER CONTROL --- */
.container {
  display: block;
  max-width: var(--container-max-width);
  width: 100%;
  margin: auto;
}
