@import "../../../../theme/variable.css";
@import "../../../../theme/exports/title.css";

/* --- projects --- */
.project {
  width: 100%;
  margin-top: 32px;
}

/* --- project-main --- */
.project-main {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 0.75rem;
}

/* --- all-projects --- */
.all-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.75rem;
}

@media (max-width: 1024px) {
  .all-projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 668px) {
  .all-projects {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
